<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Welcome to <%= title %></h1>
    <% if(messages.messages) { %>
        <% for (let message of messages.messages) { %>
        <h3><%= message %></h3>
        <% } %>
    <% } %>
    <% if(messages.comments) { %>
        <% for (let message of messages.comments) { %>
        <h3><%= message %></h3>
        <% } %>
    <% } %>
    <% if (all_messages.length) { %>
    <ul>
        <% for (let message of all_messages) { %>
        <li class="message">
            <p>Name: <%= message.name %></p>
            <p>Message: <%= message.content %></p>
            <% if (message.comments.length) { %>
            <ul>
                <% for (let comment of message.comments) { %>
                <li class="comment">
                    <p>Name: <%= comment.name %></p>
                    <p>Message: <%= comment.content %></p>
                </li>
                <% } %>
            </ul>
            <% } %>
            <form action="/messages/<%= message.id %>/comments/new" method="post">
                <label for="name">Name: </label>
                <input type="text" name="name">
                <label for="content">Comment: </label>
                <input type="text" name="content">
                <input type="submit" value="Post Comment">
            </form>
        </li>
        <% } %>
    </ul>
    <% } %>
    <form action="/messages/new" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <label for="content">Message: </label>
        <input type="text" name="content">
        <input type="submit" value="Post Message">
    </form>
</body>
</html>